*{
  padding: 0;
  margin: 0;
  font-family: 'Wix Madefor Text', sans-serif;
  color: #000;
}

body,
html{
  min-height: 100vh;
  height: 100%;
  background-color: #3498db;
}

img {
  max-width: 100%;
}

button{
  font-weight: bold;
  font-size: 1.2rem;
  background-color: #34495e;
  cursor: pointer;
  border-radius: 20px;
  padding: 0.3rem;
  border: none;
  transition: ease-in-out 0.4s;
}

button:hover{
  background-color: #204c77;
  transform: scale(105%);
  box-shadow: #204c77;
}