#GameOver {
    text-align: center;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

#GameOver h2,
#GameOver p {
    margin-bottom: 1rem;
}

#GameOver p {
    color: #010d19;
    font-weight: bold;
}

#GameOver img {
    margin: 2rem auto;
    height: 200px;
}