.option {
    background-color: #0a3d62;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

.option p{
    padding: 0.5rem;
}

.option:hover {
    border: solid #60a3bc;
    transform: scale(98%);
}

#options-container .option p {
    margin-bottom: 0;
}

.correct {
    background-color: #0bfc03;
    font-weight: bold;
}

.wrong {
    background-color: #3c0e70;
    opacity: 0.5;
}

.hide {
    display: none;
}