#question {
    background-color: lavender;
    border-radius: 1rem;
    padding: 2rem;
    width: 540px;
}

#question p {
    margin-bottom: 1rem;
}

#question h2 {
    margin-bottom: 2rem;
}

#question button {

    margin: 1rem;
}